* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2','Courier New', 'Courier', 'monospace';
  background-color: white;
  color: black;
  text-decoration: none;
}

.herocards-route{
  text-align: right;
  display: inline-block;
  background: rgba(16, 113, 223, 0.925);
  border-radius: 5px;
  font-size: 22px;
  font-weight: 800;
  color: #FFF;
  padding: 15px 28px;
  margin: 22px 400px;

  cursor: pointer; 
  
}