.Container {
    text-align: center;
    padding: auto;
    margin: auto;
  }

.logo{
  display: flex;
  justify-content: center;
  padding: 36px 10px;
  margin: 9px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  list-style-type: none;
}
.logo-thumb {
  display: flex;
  padding: 36px 10px;
  margin: 9px 40px;
}
